
body{
  background-color: #000000;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#navbar {
 
  background-color: #000000;
  width: 100%;
  top:0;
  
 }
 
 #home {
  position: relative;
  width: 100%;
  left: 0px;
  top: 50px;
  }
  #tips{
    position:relative;
    top: 300px;
    text-align: center;
  }
  #symptoms{
    position:relative;
    top: 1100px;
    text-align: center;
  }
  #faqs{
    position:relative;
    text-align: center;
    top:1600px;
  }
  #youtube{
    position:relative;
    text-align: center;
    top:2600px;
  }
   
 a{
  padding: 15px;
  font-size: 60px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  
 }
ul li{
   display: inline;
   text-align: center;
 }
 .sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
}
.sticky + .content {
  padding-top: 60px;
}
.content {
  padding: 16px
}

  #a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    margin-right: 500px;
    margin-left: 24px;
    color: #d498cc;
    
  }
  #b {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 117px;
    margin-right: 500px;
    margin-left: 24px;
    
    color: #d498c5;
    
 }
 #virus {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 927px;
} 
.heading {
  font-family: 'Playfair Display', serif;;
  font-style: normal;
  font-weight: 500;
  font-size: 100px;
  color: #ffffff;
  text-align: center;

} 
#box1 {
position: absolute; 
width: 1293px;
height: 369px;
left:50%;
-ms-transform: translateX(-50%);
transform: translateX(-50%);
background: #ffffff;
border: 5px solid #E8AFCE;
box-sizing: border-box;
border-radius: 50px;
box-shadow: 0 -30px 50px #777 inset;
}
#facemask{
  position: absolute;
  width: 346px;
  height: 346px;
  left: 129px;
  
  }
  #wearmask {
    
    right: 35px;
    width: 317px;
    height: 66px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 54px;
    line-height: 66px;
    color: #000000;
    }
#box2 {
  
position:absolute;
width: 1293px;
height: 369px;
left: 50%;
-ms-transform: translateX(-50%);
transform: translateX(-50%);
top: 600px;
background: #ffffff;
border: 5px solid #E8AFCE;
box-sizing: border-box;
border-radius: 50px;
box-shadow: 0 -30px 50px #777 inset;
}
#washhands{
  position:absolute;
  width: 346px;
  height: 66px;
  left: 35px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 54px;
  line-height: 66px;
  color: #000000;
  }
  #handwashing {
    position:absolute;
    width: 342px;
    height: 342px;
    left: 873px;
    top: 5px;
  }
  #table2 {
    
    position:absolute;
    width: 1200px;
    height: 454px;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #FFFFFF;
    border: 8px solid #4C0027;
    box-sizing: border-box;
  }
  #box3 {
    
    position:absolute;
    width: 1161px;
    height: auto;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #ffffff;
    border: 5px solid #E8AFCE;
    box-sizing: border-box;
    border-radius: 50px;
    text-align: center;
    font-size:25px;
    font-family: 'Nanum Myeongjo', serif;
    padding: 50px;
    box-shadow: 0 -30px 50px #777 inset;
   }
  .footer
  {
    position:relative;
    top: 2700px;
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 50px;
    color: #d498cc;
    width: 100%;
    background-color: #000000;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding: 15px;
  }
   td {
    padding: 15px;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 30px;
    text-align: center;
    border: 3px solid #4C0027;
 }
 th {
  padding: 15px;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 40px;
  text-align: center;
  font-weight: 1000;
  border: 3px solid #4C0027;
 }
